@model IEnumerable<Crud_ADO_dotnet.ViewModel.Department>
@{
    ViewBag.Title = "Index";
}

<h2>Departments</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    @foreach (var dept in Model)
    {
<tr>
    <td>@dept.ID</td>
    <td>@dept.Name</td>
</tr>
    }
</table>

